@-webkit-keyframes slide-from-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@keyframes slide-from-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  overflow: hidden;
  background: url(/images/bg01.jpg) center center/cover no-repeat; }
  body .wrapper {
    margin: 0 auto;
    /*min-width: 800px;*/
    width: 70vw;
    height: 100%;
    background-color: transparent; }
  body h1 {
    font-size: 70px;
    font-family: 'Voces', cursive;
    color: #ffcc22; }
  body h2 {
    text-align: center;
    font-size: 1.8em;
    padding-top: 2vh;
    margin-bottom: 6vh;
    font-family: 'Voces', cursive;
    color: #ffcc22; }
  body h3 {
    font-size: 1.3em;
    margin: 30px 0 20px;
    font-family: 'Voces', cursive;
    color: #ffcc22; }
  body h4 {
    font-size: 1.1em;
    margin: 15px;
    font-family: 'Voces', cursive;
    color: #ffcc22; }
  body p {
    font-size: 16px;
    margin: 0;
    padding: 15px 0;
    line-height: 130%;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #fff; }
  body main {
    height: 92vh;
    padding: 40px 0 0;
    box-sizing: border-box;
    overflow-y: auto;
    background: url(/images/bg01.jpg) center center/cover no-repeat; }
    body main .content {
      padding-top: 80px; }
  body .fb-iconContainer {
    width: 40px;
    height: 40px;
    background-color: blue;
    border-top: 2px solid #ffcc22;
    border-right: 2px solid #ffcc22;
    border-bottom: 2px solid #ffcc22;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    top: 35%;
    left: 0; }
    body .fb-iconContainer img {
      width: 100%;
      height: auto; }

header {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8vh;
  background-color: midnightblue;
  border-bottom: 3px solid #ffcc22;
  box-sizing: border-box;
  position: relative; }
  header .crest {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 140px;
    height: 140px;
    z-index: 10; }
  header nav {
    display: flex;
    justify-content: space-between; }
    header nav ul {
      margin: 3vh 0;
      float: right; }
      header nav ul li {
        display: inline;
        color: #ffcc22;
        padding: 5px 0;
        margin-right: 20px;
        cursor: pointer;
        position: relative;
        font-family: 'Lato', sans-serif; }
        header nav ul li:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: #ffcc22;
          visibility: hidden;
          transform: scaleX(0);
          -webkit-transform: scale(0);
          transition: all 0.3s ease-in-out 0s;
          -webkit-transition: all 0.3s ease-in-out 0s; }
        header nav ul li:hover:before {
          visibility: visible;
          transform: scaleX(1);
          -webkit-transform: scaleX(1); }
        header nav ul li a:link,
        header nav ul li a:visited,
        header nav ul li a:hover,
        header nav ul li a:active {
          color: #ffcc22;
          text-decoration: none; }

/*

##     ## ########
###   ### ##     ##
#### #### ##     ##
## ### ## ##     ##
##     ## ##     ##
##     ## ##     ##
##     ## ########

*/
@media screen and (min-width: 992px) and (max-width: 1199px) {
  header .crest {
    width: 100px;
    height: 100px;
    top: 16px; }
  header ul li {
    font-size: 12px; } }

/*

##     ##  ######      ######  ##     ##
 ##   ##  ##    ##    ##    ## ###   ###
  ## ##   ##          ##       #### ####
   ###     ######      ######  ## ### ##
  ## ##         ##          ## ##     ##
 ##   ##  ##    ##    ##    ## ##     ##
##     ##  ######      ######  ##     ##

*/
@media screen and (max-width: 991px) {
  header .crest {
    width: 100px;
    height: 100px;
    top: 3vh;
    left: 50%;
    transform: translateX(-50%); }
  header #topMenu {
    display: none; } }

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: black;
  font-size: 0.7em;
  padding: 5px 0;
  height: 10px;
  min-width: 1000px;
  width: 100vw;
  border-top: 1px solid #fc2;
  /*border-bottom: 1px solid #fc2;*/
  display: flex;
  justify-content: space-between; }
  footer .info {
    color: white;
    margin: 0 15px; }
    footer .info a:link,
    footer .info a:visited,
    footer .info a:hover,
    footer .info a:active {
      color: #ffcc22;
      text-decoration: none; }

.homePage {
  padding-top: 120px; }
  .homePage p {
    font-size: 1.2em;
    font-weight: 300;
    margin: 0;
    padding: 15px 0;
    line-height: 130%;
    text-align: justify; }
    .homePage p.welcome {
      font-size: 24px;
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 60px;
      font-family: 'Voces'; }
  .homePage img {
    width: 100%;
    max-width: 800px;
    height: auto;
    margin: 30px auto;
    display: none; }
  .homePage .results {
    margin-top: 55px; }
    .homePage .results p {
      text-align: center; }
    .homePage .results img {
      display: inline; }

.teams {
  height: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px; }
  .teams p.teams_text {
    padding: 2px; }

.history {
  background-color: transparent;
  margin-bottom: 40px; }

.gymAstroturf {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .gymAstroturf .gym,
  .gymAstroturf .astroturf {
    width: 40%;
    margin: 0 20px; }
    .gymAstroturf .gym img,
    .gymAstroturf .astroturf img {
      width: 100%;
      height: auto;
      border: 3px solid #fc2;
      border-radius: 3px;
      margin-bottom: 30px; }

.honours,
.schoolHonours {
  text-align: center; }
  .honours ul,
  .schoolHonours ul {
    max-width: 800px;
    margin: 0 auto; }
    .honours ul li,
    .schoolHonours ul li {
      display: flex;
      justify-content: space-between;
      margin: 0 auto; }
      .honours ul li h3,
      .schoolHonours ul li h3 {
        display: inline-block;
        margin-top: 12px;
        margin-bottom: 12px; }
      .honours ul li span,
      .schoolHonours ul li span {
        color: #fff;
        font-size: 1.1em;
        font-family: 'Open Sans', sans-serif;
        margin-top: 12px;
        margin-bottom: 12px; }

.schoolHonours {
  margin: 100px 0; }

.clubInfoFlex {
  display: flex;
  justify-content: space-between;
  margin: 40px 0; }
  .clubInfoFlex .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 80px;
    width: 40%; }
    .clubInfoFlex .info.data {
      min-width: 472px; }
    .clubInfoFlex .info ul p {
      padding: 0;
      margin-bottom: 10px; }
    .clubInfoFlex .info a {
      width: 100%;
      text-align: center;
      margin-bottom: 60px; }
      .clubInfoFlex .info a img {
        width: 100%;
        height: auto; }
    .clubInfoFlex .info .mapContainer {
      width: 100%;
      border: 3px solid #fc2;
      border-radius: 3px;
      padding-bottom: 60%;
      position: relative;
      text-align: right; }
      .clubInfoFlex .info .mapContainer #map {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
    .clubInfoFlex .info .board {
      width: 100%;
      margin-top: 40px; }
      .clubInfoFlex .info .board ul {
        width: 100%;
        padding: 0; }
        .clubInfoFlex .info .board ul li {
          padding: 0; }
  .clubInfoFlex img {
    border: 3px solid #fc2;
    border-radius: 3px; }

.links {
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .links a {
    width: 20%;
    max-width: 120px; }
    .links a img {
      width: 100%;
      height: auto; }

.gallery p {
  padding-left: 15px;
  padding-right: 15px; }

.gallery .photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; }
  .gallery .photos a {
    box-sizing: border-box;
    width: 25%;
    padding: 15px; }
    .gallery .photos a img {
      width: 100%;
      height: auto;
      border: 2px solid #fc2; }
