.codeofrespect {
    margin-bottom: 40px;

    .codeFlex {
        display: flex;
        justify-content: flex-start;

        .codeAside {
            width: 20%;
            border-right: 1px solid #fff;
            margin-right: 40px;

            ul {
                margin-top: 16px;

                li {

                    margin-bottom: 30px;
                    text-align: right;
                    padding-right: 30px;

                    &.current {

                        span {
                            color: $main-yellow;

                            &:before {
                                background-color: $main-yellow;
                            }
                        }
                    }

                    span {
                        color: #fff;
                        font-family: 'Open Sans', sans-serif;
                        font-size: 18px;
                        font-weight: 400;
                        cursor: pointer;
                        margin: 0;
                        padding: 0;
                        position: relative;



                        &:before {
                            content: "";
                            position: absolute;
                            width: 100%;
                            height: 1px;
                            bottom: -2px;
                            left: 0;
                            background-color: #fff;
                            visibility: hidden;
                            transform: scaleX(0);
                            -webkit-transform: scale(0);
                            transition: all 0.3s ease-in-out 0s;
                            -webkit-transition: all 0.3s ease-in-out 0s;
                        }

                        &:hover:before {
                            visibility: visible;
                            transform: scaleX(1);
                            -webkit-transform: scaleX(1);
                        }
                    }
                }
            }
            //end ul
        }
        //end codeAside

        .code {
            display: none;
            width: 80%;
            color: #fff;
            font-family: 'Open Sans', sans-serif;

            &:nth-of-type(1) {
                display: block;
            }

            p {
                text-align: left;
                font-weight: 400;
            }

            ul {
                padding-left: 20px;

                li {
                    padding: 5px 0;
                    line-height: 1.4;
                    list-style-type: circle;
                }
            }
        }
    }
}

/*

  ######  ##     ##
 ##    ## ###   ###
 ##       #### ####
  ######  ## ### ##
       ## ##     ##
 ##    ## ##     ##
  ######  ##     ##

*/

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .codeofrespect {
        .codeFlex {
            .codeAside {
                ul {
                    li {

                        span {
                            font-size: 16px;
                        }
                    }
                }
            }

            .code {
                ul {
                    li {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

/*

##     ##  ######
 ##   ##  ##    ##
  ## ##   ##
   ###     ######
  ## ##         ##
 ##   ##  ##    ##
##     ##  ######

*/

@media (max-width: $screen-xs-max) {
    .codeofrespect {
        margin-bottom: 60px;

        .codeFlex {
            flex-direction: column;

            .codeAside {
                width: 100%;
                border: none;

                ul {
                    display: flex;
                    justify-content: space-between;

                    li {
                        padding-right: 0;

                        span {
                            font-size: 15px;
                        }
                    }
                }
            }

            .code {
                width: 100%;

                ul {
                    li {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
