.gallery {
    margin-bottom: 100px;

    p {
        padding-left: 15px;
        padding-right: 15px;
        // text-align: center;
    }

    .photos {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        a {
            box-sizing: border-box;
            width: 25%;
            padding: 15px;

            img {
                width: 100%;
                height: auto;
                // border: 2px solid #fc2;
            }
        }
    }
}


/*

##     ## ########
###   ### ##     ##
#### #### ##     ##
## ### ## ##     ##
##     ## ##     ##
##     ## ##     ##
##     ## ########

*/

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    .gallery {
        .photos {
            a {
                width: calc(100% / 3);
            }
        }
    }
}


/*

  ######  ##     ##
 ##    ## ###   ###
 ##       #### ####
  ######  ## ### ##
       ## ##     ##
 ##    ## ##     ##
  ######  ##     ##

*/

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .gallery {
        .photos {
            a {
                width: 50%;
            }
        }
    }
}


/*

##     ##  ######
 ##   ##  ##    ##
  ## ##   ##
   ###     ######
  ## ##         ##
 ##   ##  ##    ##
##     ##  ######

*/

@media (max-width: $screen-xs-max) {
    .gallery {
        .photos {
            a {
                width: 100%;
            }
        }
    }
}
