.gymAstroturf {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .gym,
    .astroturf {
        width: 40%;
        margin: 0 20px;

        a {
            margin-bottom: 30px;

            img {
                width: 100%;
                height: auto;
                border: 3px solid #fc2;
                border-radius: 3px;
            }
        }
    }
}
