.gymAstroturf {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;

    .gym,
    .astroturf {
        width: 40%;
        margin: 0 20px;

        a {
            margin-bottom: 30px;

            img {
                width: 100%;
                height: auto;
                border: 2px solid #fc2;
                border-radius: 3px;
            }
        }
    }
}

/*


##     ##  ######      ######  ##     ##
 ##   ##  ##    ##    ##    ## ###   ###
  ## ##   ##          ##       #### ####
   ###     ######      ######  ## ### ##
  ## ##         ##          ## ##     ##
 ##   ##  ##    ##    ##    ## ##     ##
##     ##  ######      ######  ##     ##


*/

@media (max-width: $screen-sm-max) {
    .gymAstroturf {
        flex-direction: column;
        margin-bottom: 40px;

        .gym,
        .astroturf {
            width: 100%;
            margin: 0;

            a {
                img {
                    border-width: 1px;
                }
            }
        }
    }
}
