header {
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: midnightblue;
    border-bottom: 3px solid #ffcc22;
    box-sizing: border-box;
    position: relative;

    .crest {
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        width: 140px;
        height: 140px;
        z-index: 100;
    }

    nav {
        display: flex;
        justify-content: space-between;

        ul {
            margin: 3vh 0;
            float: right;

            &.rightMenu {
                li {
                    margin-right: 0;
                    margin-left: 20px;
                }
            }

            li {
                display: inline;
                color: #ffcc22;
                padding: 5px 0;
                margin-right: 20px;
                cursor: pointer;
                position: relative;
                font-family: 'Open Sans', sans-serif;
                font-size: 16px;

                &:before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    bottom: 0;
                    left: 0;
                    background-color: #ffcc22;
                    visibility: hidden;
                    transform: scaleX(0);
                    -webkit-transform: scale(0);
                    transition: all 0.3s ease-in-out 0s;
                    -webkit-transition: all 0.3s ease-in-out 0s;
                }

                &:hover:before {
                    visibility: visible;
                    transform: scaleX(1);
                    -webkit-transform: scaleX(1);
                }

                a:link,
                a:visited,
                a:hover,
                a:active {
                    color: #ffcc22;
                    text-decoration: none;
                }

            }
            //end li
        }
        //end ul
    }
    //end nav

    .navicon {
        display: none;
        cursor: pointer;
        padding-top: 20px;
        position: relative;
        width: 30px;
        height: 100%;

        .menu-global {
            backface-visibility: hidden;
            position: absolute;
            left: 0;
            border-top: 4px solid $main-yellow;
            width: 100%;
            transition: 0.55s;

            &.menu-top {
                top: 15px;

                &.menu-top-click {
                    backface-visibility: hidden;
                    top: 25px;
                    transform: rotate(45deg);
                    transition: 0.55s 0.5s;
                }
            }
            &.menu-middle {
                top: 25px;

                &.menu-middle-click {
                    opacity: 0;
                }
            }
            &.menu-bottom {
                top: 35px;

                &.menu-bottom-click {
                    backface-visibility: hidden;
                    top: 25px;
                    transform: rotate(-405deg);
                    transition: 0.55s 0.5s;
                }
            }
        }
    }
    //end .navicon
}

/*

##        ######
##       ##    ##
##       ##
##       ##   ####
##       ##    ##
##       ##    ##
########  ######

*/

@media (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {

}

/*

##     ## ########
###   ### ##     ##
#### #### ##     ##
## ### ## ##     ##
##     ## ##     ##
##     ## ##     ##
##     ## ########

*/

@media screen and (min-width: 992px) and (max-width: 1199px) {
    header {
        .crest {
            width: 100px;
            height: 100px;
            top: 16px;
        }

        nav {
            ul {

                li {
                    font-size: 14px;
                }
            }
        }
    }
}

/*

##     ##  ######      ######  ##     ##
 ##   ##  ##    ##    ##    ## ###   ###
  ## ##   ##          ##       #### ####
   ###     ######      ######  ## ### ##
  ## ##         ##          ## ##     ##
 ##   ##  ##    ##    ##    ## ##     ##
##     ##  ######      ######  ##     ##

*/

@media screen and (max-width: 991px){
    header {
        height: 60px;

        .crest {
            width: 100px;
            height: 100px;
            top: 15px;
            left: 50%;
            transform: translateX(-50%);
            transition: all 1s ease;

            &.mobileMenuOpen {
                width: 50px;
                height: 50px;
                top: 3px;

            }

        }

        #topMenu {
            display: none;
        }

        #navicon {
            display: block;
        }
    }
}

/*

##     ##  ######
 ##   ##  ##    ##
  ## ##   ##
   ###     ######
  ## ##         ##
 ##   ##  ##    ##
##     ##  ######

*/

@media (max-width: $screen-xs-max) {
    header {

        .crest {
            width: 80px;
            height: 80px;
        }
    }
}
