.history {
    background-color: transparent;
    margin-bottom: 100px;

    .beginning,
    .ladiesBegin,
    .competitionHistory,
    .miniWorldCup {

    }
}

/*


##     ##  ######      ######  ##     ##
 ##   ##  ##    ##    ##    ## ###   ###
  ## ##   ##          ##       #### ####
   ###     ######      ######  ## ### ##
  ## ##         ##          ## ##     ##
 ##   ##  ##    ##    ##    ## ##     ##
##     ##  ######      ######  ##     ##


*/

@media screen and (max-width: 767px){
    .history {
        margin-bottom: 40px;
    }
}
