.homePage {
    padding-top: 120px;
    // margin-bottom: 100px;

    p {
        font-size: 1.2em;
        font-weight: 300;
        margin: 0 ;
        padding: 15px 0;
        line-height: 130%;
        text-align: justify;

        &.welcome {
            font-size: 24px;
            text-transform: uppercase;
            font-weight: 700;
            margin-bottom: 60px;
            font-family: 'Voces';
        }
    }

    .results {
        margin-top: 55px;

        p {
            text-align: center;
        }

        img {
            display: inline;
        }
    }
}
