$main-yellow: #ffcc22;
$main-blue: #191970;

* {
    outline: none;
}

body {
    overflow: hidden;
    // background: url(/public/images/bg01.jpg) center center/cover no-repeat;

    .wrapper {
        margin: 0 auto;
        width: 70vw;
        height: 100%;
        background-color: transparent;
    }

    h1 {
        font-size: 70px;
        font-family: 'Voces', cursive;
        color: $main-yellow;
    }

    h2 {
        text-align: center;
        font-size: 28px;
        padding-top: 2vh;
        margin-bottom: 6vh;
        font-family: 'Voces', cursive;
        color: $main-yellow;
    }

    h3 {
        font-size: 20px;
        margin: 30px 0 20px;
        font-family: 'Voces', cursive;
        color: $main-yellow;
    }

    h4 {
        font-size: 1.1em;
        margin: 15px;
        font-family: 'Voces', cursive;
        color: $main-yellow;
    }

    p {
        font-size: 16px;
        margin: 0 ;
        padding: 15px 0;
        line-height: 130%;
        text-align: justify;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        color: #fff;
    }

    main {
        height: 92vh;
        padding: 40px 0 0;
        box-sizing: border-box;
        overflow-y: auto;
        background: url(/RosslareRangers/public/images/bg01.jpg) center center/cover no-repeat;

        .content {
            padding-top: 80px;
        }
    }

    .fb-iconContainer {
        width: 40px;
        height: 40px;
        background-color: blue;
        border-top: 2px solid $main-yellow;
        border-right: 2px solid $main-yellow;
        border-bottom: 2px solid $main-yellow;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        position: absolute;
        top: 35%;
        left: 0;

        img {
            width: 100%;
            height: auto;
        }
    }
}
