.teams {
    height: 100%;
    display:flex;
    justify-content: space-around;
    margin-bottom: 100px;

    p.teams_text {
        padding: 2px;
    }
}

/*


##     ##  ######      ######  ##     ##    ##     ## ########
 ##   ##  ##    ##    ##    ## ###   ###    ###   ### ##     ##
  ## ##   ##          ##       #### ####    #### #### ##     ##
   ###     ######      ######  ## ### ##    ## ### ## ##     ##
  ## ##         ##          ## ##     ##    ##     ## ##     ##
 ##   ##  ##    ##    ##    ## ##     ##    ##     ## ##     ##
##     ##  ######      ######  ##     ##    ##     ## ########


*/

@media screen and (max-width: 991px){
    .teams {
        flex-direction: column;
        margin-bottom: 60px;
    }
}
