footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: black;
    font-size: 0.7em;
    padding: 5px 0;
    height: 10px;
    min-width: 1000px;
    width: 100vw;
    border-top: 1px solid #fc2;
    /*border-bottom: 1px solid #fc2;*/
    display: flex;
    justify-content: space-between;

    .info {
        color: white;
        margin: 0 15px;

        a:link,
        a:visited,
        a:hover,
        a:active {
            color: #ffcc22;
            text-decoration: none;
        }
    }
}
