$main-yellow: #ffcc22;
$main-blue: midnightblue;

body {
    overflow: hidden;
    background: #0e0e3d;

    .wrapper {
        margin: 0 auto;
        /*min-width: 800px;*/
        width: 70vw;
        height: 100%;
        padding-bottom: 40px;
        background-color: transparent;
    }

    .text {
        color: #ffcc22;
        font-family: 'Lato', sans-serif;
    }

    h1 {
        text-align: center;
        font-size: 48px;
        margin-bottom: 4vh;
    }

    h2 {
        text-align: center;
        font-size: 1.8em;
        padding-top: 2vh;
        margin-bottom: 6vh;
    }

    h3 {
        font-size: 1.3em;
        margin: 30px 0 20px;
    }

    h4 {
        font-size: 1.1em;
        margin: 15px;
    }

    p {
        font-size: 1em;
        margin: 0 ;
        padding: 15px 0;
        line-height: 130%;
        text-align: justify;
    }

    main {
        height: 92vh;
        padding: 80px 0 0;
        box-sizing: border-box;
        overflow-y: auto;
        background-color: transparent;

        .content {
            padding-top: 10vh;
        }
    }

    .fb-iconContainer {
        width: 40px;
        height: 40px;
        background-color: blue;
        border-top: 2px solid $main-yellow;
        border-right: 2px solid $main-yellow;
        border-bottom: 2px solid $main-yellow;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        position: absolute;
        top: 35%;
        left: 0;

        img {
            width: 100%;
            height: auto;
        }
    }
}
