.teams {
    height: 100%;
    display:flex;
    justify-content: space-around;
    margin-bottom: 40px;

    .teams_text {
        color: #ffcc22;
        font-family: 'Lato', sans-serif;
    }

    p.teams_text {
        font-size: 1em;
        margin: 0;
        padding: 2px;
    }
}
