/*OVERALL*/

body {
    background-color: #ffcc22;
}

.wrapper {
    float: left;
    margin: 0 auto;
    /*min-width: 800px;*/
    width: 70vw;
    height: 100vh;
    background-color: midnightblue;
    background-size: cover;
}

.left {
    float: left;
    width: 15vw;
    height: 100vh;
    background-image: url("../images/yellow_left.jpg");
    background-size: cover;
}

.right {
    float: left;
    width: 15vw;
    height: 100vh;
    background-image: url("../images/yellow_right.jpg");
    background-size: cover;
}

body, .left, .right {
    overflow: hidden;
}

.text {
    color: #ffcc22;
    font-family: 'Lato', sans-serif;
}

/*HEADER*/

header {
    height: 8vh;
}

.crest {
    position: relative;
    top: 10px;
    left: 80px;
    width: 140px;
    height: 140px;
}

.image {
    clear: right;
    box-sizing: border-box;
    background-color: gray;
    background-size: cover;
    background-position: center;
    width:  100%;
    height: 40vh;
    border-bottom: 3px solid #ffcc22;
    border-top: 3px solid #ffcc22;
}

ul {
    margin: 3vh 5px;
    float: right;
}

li {
    display: inline;
    color: #ffcc22;
    padding: 5px 10px;
    /*border: 2px solid #ffcc22;*/
    /*border-radius: 30px;*/
    cursor: pointer;
}

/*MAIN*/

main > div:nth-child(2) {
    height: 50vh;
    overflow-y: auto;
}

h1 {
    text-align: center;
    font-size: 1.8em;
    margin-top: 4vh;
    margin-bottom: 2vh;
}

p {
    font-size: 1.3em;
    margin: 0 5vw;
    padding: 15px 20px;
    line-height: 130%;
}

a, a:link, a:hover, a:visited {
    color: #ffcc22;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    /*padding: 5px;*/
}

a:hover {
    border-bottom: 2px solid #ffcc22;
}



#descr {
    margin-top: 4vh;
}

/*TEAMS*/

.teams {
    display:flex;
    justify-content: space-around;
}

h3 {
    font-size: 1.2em;
    margin: 15px;
}

.teams_text {
    color: #ffcc22;
    font-family: 'Lato', sans-serif;
}

p.teams_text {
    font-size: 1em;
    margin: 0;
    padding: 2px;
}

/*FOOTER*/

footer {
    position: absolute;
    bottom: 0;
    background-color: black;
    font-size: 0.7em;
    padding: 5px 0;
    height: 10px;
    min-width: 1000px;
    width: 70vw;
}

.info {
    color: white;
    margin-left: 5px;
}